{% extends 'products/base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="modal-container__signup">
    <div class="modal-signup">
        <a href="#popup2" class="popup-link modal-signin-selected">Регистрация</a>
    </div>
    <div>
        <form method="post" class="modal-inputs__signup">
            {% csrf_token %}
            {% for f in form3 %}
            <div class="modal-input">
            <label for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
            </div>
            <div>{{ f.errors }}</div>
            {% endfor %}
    </div>
    <div class="modal-submit">
        <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="#popup" class="popup-link">Уже есть аккаунт?</a>
    </div>
</div>
{% endblock %}