{% extends 'products/base.html' %}
{% load static %}

{%block title%}Личные данные{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
<div class="user"> 
    <ul class="user-links">
    {% for item in title_links_user %}
        {% if item.name == cat_selected %}
            <a href="{% url item.link %}"><li class="categoies_selected">{{ item.name }}</li></a>
        {% else%}
            <a href="{% url item.link %}"><li>{{ item.name }}</li></a>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="user_personal-data">
        <div class="user_personal-header">
            {% if user.photo %}
                <p>{{ user.photo }}</p>
            {% else %}
                <i class="fa-solid fa-user" style="font-size:55px"></i>
            {% endif %}
            <div class="user_main_balance">
                <div>
                    {% if user.first_name %}
                        {% if user.last_name %}
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                        {% else %}
                            <p>{{ user.first_name }}</p>
                        {% endif %}
                    {% else %}
                        <p>{{ user.username }}</p>
                    {% endif %}
                    </div>
                <p>ID: {{ user.id }}</p>
            </div>
        </div>
        <form method="post" action="{% url 'personal' %}">
            {% csrf_token %}
        <div class="user_personal-body">
            <div class="user_personal_username">
                <div class="user_personal-name">
                    <p>Имя:</p>
                    {{ form.first_name }}
                    <input placeholder={{ user.first_name }}>
                </div>
                <div class="user_personal-name">
                    <p>Фамилия:</p>
                    <input placeholder={{ user.last_name }}>
                </div>
            </div>
            <div class="user_personal-name">
                <p>Дата рождения:</p>
                <input  type="date" placeholder={{ user.profile.birth_date }}>
            </div>
            <div class="user_personal-name">
                <p>Никнейм:</p>
                <input placeholder={{ user.username }}>
            </div>
        </div>
        <div class="user_personal-footer">
            <button class="user_personal-btn" type="submit">Сохранить</button>
            </form>
            <button class="none user_personal-btn"><i class="fa-solid fa-angles-down"></i>Подробнее</button>
        </div>
        {% comment %} <button class="none"><i class="fa-solid fa-circle-info"></i>Подробнее</button> {% endcomment %}
        {% comment %} ЭТО ПОДРОБНЕЕ О СЕБЕ, ЕСЛИ БУДЕТ НАЖАТА КНОПКА {% endcomment %}
        <div class="user_personal_about">
            <p>Страна: <input placeholder={{ user.profile.country }}></p>
            <p>Город: <input placeholder={{ user.profile.city }}></p>
            <p>О себе: <input placeholder={{ user.profile.bio }}></p>
        </div>
    </div>
</div>

{% endblock %}