{% extends 'products/base.html' %}
{% load static %}

{%block title%}Личные данные{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
<div class="user"> 
    <ul class="user-links">
    {% for item in title_links_user %}
        {% if item.name == cat_selected %}
            <a href="{% url item.link %}"><li class="categoies_selected">{{ item.name }}</li></a>
        {% else%}
            <a href="{% url item.link %}"><li>{{ item.name }}</li></a>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="user_personal-data">
        <div class="user_personal-header">
            {% if user.photo %}
                <p>{{ user.photo }}</p>
            {% else %}
                <i class="fa-solid fa-user" style="font-size:55px"></i>
            {% endif %}
            <div class="user_main_balance">
                <div>
                    {% if user.first_name %}
                        {% if user.last_name %}
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                        {% else %}
                            <p>{{ user.first_name }}</p>
                        {% endif %}
                    {% else %}
                        <p>{{ user.username }}</p>
                    {% endif %}
                    </div>
                <p>ID: {{ user.id }}</p>
            </div>
        </div>
        <form method="post" action="{% url 'personal' %}" id="form1">
            {% csrf_token %}
        <div class="user_personal-body">
            <div class="user_personal_username">
                <div class="user_personal-name">
                    <p>Имя: 
                        {% if user.first_name != "" %}
                            ({{ user.first_name }})
                        {% else %}
                            (Не указано)  
                        {% endif %}
                    </p>
                    {{ form.first_name }}
                </div>
                <div class="user_personal-name">
                    <p>Фамилия:
                        {% if user.last_name != "" %}
                            ({{ user.last_name }})
                        {% else %}
                            (Не указана) 
                        {% endif %}
                    </p>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="user_personal-name">
                <p>Дата рождения: 
                    {% if user.profile.birth_date %}
                        ({{ user.profile.birth_date}})
                    {% else %}
                        (Не указана)
                    {% endif %}
                </p>
                {{ form2.birth_date }}
            </div>
            <div class="user_personal-name">
                <p>Никнейм: ({{ user.username }})</p>
                {{ form2.city }}
            </div>
        </div>
        <div class="user_personal-footer" id="block-hidden">
            <button class="user_personal-btn" type="submit" onclick="return confirm_save()">Сохранить</button>
            </form>
            <button class="none user_personal-btn" id="modal_open"><i class="fa-solid fa-angles-down"></i>Подробнее</button>
        </div>
        <div class="user_personal_about-hidden" id="more">
            <div class="user_personal_about-header">
                <div>
                    <p>Страна: 
                    {% if user.profile.country %}
                        ({{ user.profile.country }})
                    {% else %}
                        (Не указана)
                    {% endif %}
                    </p>
                    {{ form2.country }}
                </div>
                <div>
                    <p>Город: 
                        {% if user.profile.city %}
                            ({{ user.profile.city }})
                        {% else %}
                            (Не указан)
                        {% endif %}
                    </p>
                    {{ form2.city }}
                </div>
            </div>
            <div class="user_personal_about">
                <p>О себе: 
                    {% if user.profile.bio %}
                        </p>
                        <p>({{ user.profile.bio }})</p>
                    {% else %}
                    {% endif %}
                </p>
                {{ form2.bio }}
            </div>
            <div class="user_personal-footer">
                <button class="user_personal-btn" type="submit" onclick="return confirm_save()">Сохранить</button>
                <button class="none user_personal-btn" id="modal_close"><i class="fa-solid fa-angles-up"></i>Скрыть</button>
            </div>
        </div>
        {% comment %} <button class="none"><i class="fa-solid fa-circle-info"></i>Подробнее</button> {% endcomment %}
        {% comment %} ЭТО ПОДРОБНЕЕ О СЕБЕ, ЕСЛИ БУДЕТ НАЖАТА КНОПКА {% endcomment %}
    </div>
</div>

<script src="{% static 'user/js/personal.js' %}"></script> 
{% endblock %}