{% extends 'products/base.html' %}
{% load static %}

'cat': ['Доставка', 'Сборка букетов', 'Подарки на любой день', '3Д конструктор букета'],
               'links': ['delivery', 'contact', 'catalog', '/'],

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="main">
    <h2>О нас</h2>
    <div class="about-preview">
        <p>

        </p>
    </div>
    <div class="about-header">
        <div>

        </div>

    </div>
    <div class="about-1service"></div>
    <div class="about-2service"></div>
    <div class="about-3service"></div>
    <div class="about-4service">
        <a name="deliv">h</a>
        gfg</div>
</div>
{% endblock %}
