{% extends 'products/base.html' %}
{% load static %}

{% block title%}Корзина покупок{% endblock %}

{% block content %}
    {% if cart|length > 0 %}
        <div class="cart">
            <div class="cart-items">
                {% for item in cart %}
                {% with product=item.product %}
                    <div class="cart_item">
                        <div class="cart_img">
                        {% comment %} <a href="{{ product.get_absolute_url }}"> {% endcomment %}
                            <a href=""><img src="{% if product.photo %}{{ product.photo.url }}{% else %}
                            {% static 'img/no_image.png' %}{% endif %}" class="cart_img"></a>
                        </div>

                        <div class="cart_item_text">
                            <p style="font-size: 24px">{{ product.title }}</p>
                            <form action="{% url 'cart_add' product.id %}" method="post" class="cart_item_form">
                                {% csrf_token %}
                                <div class="cart_item_price">
                                    <div class="cart_count-items">
                                            <p>Кол-во</p>{{ item.update_quantity_form.quantity }}{{ item.update_quantity_form.update }}
                                            {% comment %} <div class="cart_item_text-3">  {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                                    </div>
                                    <p>{{ item.total_price }} ₽</p>
                                </div>
                                <div class="cart_item-delete-update">
                                    <input type="submit" value="Обновить" class="a_button submit">
                                    <a href="{% url 'cart_remove' product.id %}" class="a_button submit">Удалить</a>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="cart_buy">
                <div class="cart_buy-right">
                    <p>Итого:</p> 
                    <p>{{ cart.get_total_price }} ₽</p>
                </div>
                <a href="#" class="a_button cart_buy-left">Оформить заказ</a>
            </div>
        </div>
    {% else %}
    <div class="cart_zero-items">
        <p>Корзина пуста</p>
    </div>
    {% endif %}

{% comment %} 
</div>
<div class="cart_buy">
    <div class="cart_buy-right">
        <p>Итого:</p> 
        <p>{{ cart.get_total_price }} ₽</p>
    </div>
    <a href="#" class="a_button cart_buy-left">Оформить заказ</a>
</div>
</div> {% endcomment %}
    {% comment %} <div>
        <p class="text-right">
            <a href="{% url 'magazine_catalog' %}" class="a_button light">В магазин</a>
            <a href="#" class="a_button">Оформить заказ</a>
        </p>
    </div> {% endcomment %}

{% endblock %}