{% extends 'products/base.html' %}
{% load static %}

{% block title%}Корзина покупок{% endblock %}

{% block content %}
    <div class="cart">
        {% for item in cart %}
            {% with product=item.product %}

            <div class="cart_item">
                <div class="cart_img">
                {% comment %} <a href="{{ product.get_absolute_url }}"> {% endcomment %}
                    <a href=""><img src="{% if product.photo %}{{ product.photo.url }}{% else %}
                    {% static 'img/no_image.png' %}{% endif %}" class="cart_img"></a>
                </div>

                <div class="cart_item_text">
                        <p style="font-size: 30px">{{ product.title }}</p>
                        <form action="{% url 'cart_add' product.id %}" method="post" class="cart_count-items">
                            <p>Кол-во</p>
                            <div class="cart_item_text-3"> 
                                {{ item.update_quantity_form.quantity }}{{ item.update_quantity_form.update }}
                                <input type="submit" value="Обновить" class="submit">
                            </div>
                            {% csrf_token %}
                        </form>
                    <p>{{ item.total_price }} ₽ <a href="{% url 'cart_remove' product.id %}" class="a_button">Удалить</a></p>
                </div>
            </div>
            {% endwith %}
        {% endfor %}
            <td>Всего</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} рублей</td>
    </div>
    {% comment %} <div>
        <p class="text-right">
            <a href="{% url 'magazine_catalog' %}" class="a_button light">В магазин</a>
            <a href="#" class="a_button">Оформить заказ</a>
        </p>
    </div> {% endcomment %}

{% endblock %}