{% extends 'products/base.html' %}

{% load static %}
{% csrf_token %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main">
    <div class="categories">
        <ul>
            {% for i in cat %}
                {% if i.title == cat_selected %}
                    <a href="{% url i.title %}"><li class="categoies_selected">{{ i.title }}</li></a>
                {% else %}
                    <a href="{% url i.title %}"><li>{{ i.title }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div style="margin-top: 200px;">
        {% for i in prod %}
        <div class="products">
            <div class="products_img">
                {{ i.photo }}
                <img src="{% static 'i.photo' %}"><br>
                <p>{{ i.title }}</p>
                <p>{{ i.cost }}</p>
                <button>В корзину</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>

    </div>
    <div>

    </div>
</div>

{% endblock %}