{% extends 'products/base.html' %}

{% load static %}
{% csrf_token %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main">
    <div class="categories">
        <ul>
            {% for i in cat %}
                {% if i.title == cat_selected %}
                    <a href="{% url i.title %}"><li class="categoies_selected">{{ i.title }}</li></a>
                {% else %}
                    <a href="{% url i.title %}"><li>{{ i.title }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div style="margin-top: 200px; display: block;">
        {% for i in prod %}
            {% if count == 0 or count < 4 %}
                <div class="products">
                    <div class="products_img">
                        <p><img src="{{ i.photo.url }}"></p>
                        {{ i.photo }}
                        <p>{{ i.title }}</p>
                        <p>{{ i.cost }}</p>
                        <button>В корзину</button>
                    </div>
                </div>
                { count += 1 }
            {% elif count > 4%}
                { count = 0 }
                <br>
            {% endif %}
        {% endfor %}
    </div>
    <div>

    </div>
    <div>

    </div>
</div>

{% endblock %}