{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'products/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/login.css' %}">
</head>
<body class="wrapper">
    <header class="header">
        <a href="{% url 'magazine_home' %}" style="height:50px"><label class="logo_text">BestFlowers</label></a>
        <div>
            <input type="text" placeholder="Поиск по сайту" style="width: 600px; height: 50px; border: none; padding-left: 10px;">
            <button style="border:none; background-color: #f0efef;"><i class="fa-solid fa-magnifying-glass" style="font-size: 24px;"></i></button>
        </div>
        <ul class="header_links">
            <a href="{% url 'magazine_catalog' %}"><li><i class="fa-solid fa-bars"></i><br>Каталог</li></a>
            {% if user.is_authenticated %}
            {% comment %} {% with total_items = cart|length %}
                    {% if cart|length > 0 %}
                        <a href="{% url 'cart_detail' %}"><li><i class="fa-solid fa-basket-shopping"></i><br>В Корзине:</li></a>
                        {{ total_items }} шт, ${{ cart.get_total_price }}
                    {% else %}
                        <a href="{% url 'cart_detail' %}"><li><i class="fa-solid fa-basket-shopping"></i><br>Корзина пуста</li></a>
                    {% endif %}
                    {% endwith %} {% endcomment %}
                <a href="{% url 'cart_detail' %}" class=""><li><i class="fa-solid fa-basket-shopping"></i><br>Корзина</li></a>
                <a href="{% url 'user' %}"><li><img src="{% static 'user/img/avatar.jpg' %}" style="height: 32px;"><br>{{ user.username }}</li></a>
            {% else %}
                <a href="#popup" class="popup-link"><li><i class="fa-solid fa-basket-shopping"></i><br>Корзина</li></a>
                <a href="#popup" class="popup-link"><li><i class="fa-solid fa-user"></i><br> Войти</li></a>
            {% endif %}
       </ul> 
    </header>

    <main>
    {% if not user.is_authenticated %}
        <div id="popup" class="popup">
            <div class="popup__body">
                <div class="popup__content">
                    <div class="modal-container__signin">
                        <a href="" class="popup__close" style="margin:40px; color:white; font-size: 22px;">X</a>
                        <div class="modal-signin">
                            <a href="#popup" class="popup-link modal-signin-selected">Вход</a>
                            <a href="{% url 'registration' %}">Регистрация</a>
                        </div>
                        <div class="modal-inputs__signin">
                            <form method="POST" action="{% url 'magazine_home' %}">
                                {% csrf_token %}
                                {% for f in form %}
                                <div class="modal-input">
                                <label for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                                </div>
                                <div>{{ f.errors }}</div>
                                {% endfor %}
                        </div>
                        <div class="modal-submit">
                            <button type="submit">Войти</button>
                            </form>
                            <a href="{% url 'registration' %}">нет аккаунта?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% block content %}
    {% endblock %}
    </main>
    <footer class="footer">
        <div class="contacts">
            <p>Контакты:</p>
            <ul>
                <li>----------------</li>
                <li>----------------</li>
                <li>----------------</li>
            </ul>
        </div>
        <div class="addresses">
            <p>Адреса магазинов:</p>
            <ul>
                <li>---------------</li>
                <li>---------------</li>
                <li>---------------</li>
            </ul>
        </div>
        <div class="links">
            <a href=""><i class="fa-brands fa-vk"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>

    </footer>
    <script src="{% static 'products/js/login.js' %}"></script>
    <script src="https://kit.fontawesome.com/dbdf0449d7.js" crossorigin="anonymous"></script>      
</body>
</html>