{% extends 'products/base.html' %}

{% load static %}
{% csrf_token %}

{% block title %} Главная страница {% endblock %}

{% block content %}

<div class="main">
    <div class="example_work">
        <img src="{% static 'products/img/example_work/1.png' %}">
        <img src="{% static 'products/img/example_work/2.png' %}">
        <img src="{% static 'products/img/example_work/3.png' %}">
    </div>
    <div class="block-services">
        <p style="height: 100px; font-size: 35px; font-weight: bold; display: flex; justify-content: center;">НАШИ УСЛУГИ</p><br>
        <div class="services">
            <div class="service_block">
                <img src="{% static 'products/img/services/1.png' %}"><br>
                <button class="button">ПОДРОБНЕЕ</button>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/2.png' %}"><br>
                <button class="button">ПОДРОБНЕЕ</button>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/3.png' %}"><br>
                <button class="button">ПОДРОБНЕЕ</button>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/4.png' %}"><br>
                <button class="button">ПОДРОБНЕЕ</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}