{% extends 'products/base.html' %}

{% load static %}
{% csrf_token %}

{% block title %} Главная страница{% endblock %}

{% block content %}
<div class="main">

    <div class="sliderr">
        <div class="wrappel">

            <i class="fa-solid fa-chevron-left" style="position: absolute;" id="left"></i>
            <div class="carousel">
                {% for item in products_images %}
                <img src="{{ item.photo.url }}" alt="img">
                {% endfor %}
            </div>
            <i class="fa-solid fa-chevron-right" id="right"></i>
        </div>
    </div>

    <div class="block-services">
        <p style="font-size: 35px; font-weight: bold; display: flex; justify-content: center; color:#DD914B">НАШИ УСЛУГИ</p><br>
        <div class="services">
            <div class="service_block">
                <img src="{% static 'products/img/services/1.png' %}">
                <a href="" class="a_button">ПОДРОБНЕЕ</a>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/2.png' %}">
                <a href="" class="a_button">ПОДРОБНЕЕ</a>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/3.png' %}">
                <a href="" class="a_button">ПОДРОБНЕЕ</a>
            </div>
            <div class="service_block">
                <img src="{% static 'products/img/services/4.png' %}">
                <a href="" class="a_button">ПОДРОБНЕЕ</a>
            </div>
        </div>
    </div>

    <div class="block-withus">
        <p style="font-size:30px; font-weight:bold; color: #DD914B">О НАШЕЙ КОМПАНИИ</p>
        <div class="block-withus-text">
            <p>Наша компания на рынке с 2012 года.<br> Мы дорожим каждым нашим клиентом, поэтому высокое
                качество сервиса - приоритет для нас. Вы всегда можете задать интересующие вас вопросы
                в онлайн-режиме или по телефону и получить подробную консультацию....
            </p>
        </div>
        <a href="" class="a_button">ЧИТАТЬ ДАЛЕЕ</a>
    </div>

    <div class="block-advantages">
        <div class="advantage">
            <img src="{% static 'products/img/advantages/advantage1.png' %}" style="width:160px;">
            <p>низкая стоимость</p>
        </div>
        <div class="advantage">
            <img src="{% static 'products/img/advantages/advantage2.png' %}" style="width:160px">
            <p>высокое качество</p>
        </div>
        <div class="advantage">
            <img src="{% static 'products/img/advantages/advantage3.png' %}" style="width:160px">
            <p>надежность</p>
        </div>
        <div class="advantage">
            <img src="{% static 'products/img/advantages/advantage4.png' %}" style="width:160px">
            <p>скорость доставки</p>
        </div>
        <div class="advantage">
            <img src="{% static 'products/img/advantages/advantage5.png' %}" style="width:160px">
            <p>индивидуальный подход</p>
        </div>
    </div>

</div>
{% endblock %}


{% block footer%}
    <script src="{% static 'products/js/script.js' %}" defer></script>
{% endblock %}