{% extends 'products/base.html' %}
{% load static %}

{% block title%}Корзина покупок{% endblock %}

{% block content %}
    {% if cart|length > 0 %}
    <div class="cart-main__blocks">
        <ul class="user-links cart-nav__menu">
            <a href=""><li class="categoies_selected">Корзина</li></a>
            <a href="{% url 'history' %}"><li>История заказов</li></a>
        </ul>
        <div class="cart">
            <div class="cart-items">
                {% for item in cart %}
                {% with product=item.product %}
                    <div class="cart_item">
                        <div class="cart_img">
                            <a href=""><img src="{% if product.photo %}{{ product.photo.url }}{% else %}
                            {% static 'cart/img/no_image.png' %}{% endif %}" class="cart_img" alt=""></a>
                        </div>
                        <div class="cart_item_text">
                            <p style="font-size: 24px">{{ product.title }}</p>
                            <form action="{% url 'cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="cart_item_form">
                                    <div class="cart_item_price">
                                        <div class="cart_count-items">
                                            <p>Кол-во</p>{{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                        </div>
                                        <p>{{ item.total_price }} ₽</p>
                                    </div>
                                    <div class="cart_item-delete-update">
                                        <input type="submit" value="Обновить">
                                        <a href="{% url 'cart_remove' product.id %}" class="a_button submit">
                                            Удалить</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="cart_buy">
                <div class="cart_buy-right">
                    <p>Итого:</p>
                    <p>{{ cart.get_total_price }} ₽</p>
                </div>
                <a href="{% url 'orders:order_create' %}" class="a_button cart_buy-left">Оформить заказ</a>
            </div>
        </div>
    </div>

    {% else %}
        <div class="cart_zero-items">
            <p>Корзина пуста</p>
        </div>
    {% endif %}
{% endblock %}