body{
    background-color: #ffffff;
}

button{
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover{
    color: #FF1E44;
    transform: scale(1.05);
}

UL, li, ol{
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    list-style-type: none;
    text-decoration: none;
    transform: none;
}

li:hover{
    color: #FF1E44;
    transform: scale(1.05);
}

a{
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    vertical-align: middle;
    padding: 20px 85px;
    display: flex;
    justify-content: space-between;
    background-color: #f0efef;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

}

.header_left{
    align-items: flex-end;
}

.logo_text{
    vertical-align: middle;
    text-align: center;
    color: #FF3838;
    font-size: 30px;
    font-weight: bold;
}

.header_links{
    height: 50px;
    display: flex;
    transform: none;
}

.header_links i{
    font-size: 28px;
    margin: 0 28%;
}

ul li:hover{
    color: #FF1E44;
    transform: scale(1.05);
}

.header ul{
    margin: 0;
}


.header_links li{
    vertical-align: middle;
    color:#000000;
    font-size: 17px;
    margin: 0 20px;
}

.header a{
    vertical-align: middle;
}

.main{
    padding: 100px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.example_work{
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.example_work img{
    height: 500px;
}

.services{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.services div{
    height: 450px;
}

.service_block{
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_block img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.service_block button{
    border-color: #C3C3C3;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    color: black;
    background-color: #f0efef;
}


.footer{
    padding: 20px 140px;
    height: 200px;
    background-color: #f0efef;
    display: flex;
    justify-content: space-between;
}

.contacts{
    font-size: 20px;
    font-weight: bold;
}

.addresses{
    font-size: 20px;
    font-weight: bold;
}

.links i{
    margin: 50px 20px ;
    font-size: 35px;
    color: black;
}

.links i:hover{
    color: #FF1E44;
    text-decoration: none;
    transform: scale(1.05);
}

.categories{
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 0 300px;
    background-color: #f0efef;
}

.categories ul{
    display: flex;
    justify-content: space-between;
}
.categories ul li{
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

.categoies_selected{
    color: #FF1E44;
    font-weight:500;
    transform: scale(1.05);
    border-bottom: 1px #FF1E44 solid;
}

.products{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    gap: 70px;
}

.products_case:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    transform: scale(1.05);
    transition: all 0.8s ease 0s;
}

.products_case{
    padding: 10px;
    width: 350px;
    height: 480px;
}
/* 
.product:hover{
    transform: scale(0.95);
    transition: all 0.8s ease 0s;
} */


.btn-catalog{
    background-color: #f0efef;
    font-size: 20px;
    padding: 10px 30px;
}


/* БЛОК СЛАЙДЕРА */

/* Import Google font - Poppins */
.sliderr{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
}
.wrappel{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrappel i{
    z-index: 1;
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #f2f2f2;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 1s linear;
  animation: all ease 1s;
}
.wrappel i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrappel i:hover{
  background: #f2f2f2;
}
.wrappel i:first-child{
  left: -22px;
  display: none;
}
.wrappel i:last-child{
  right: -22px;
}
.wrappel .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel{
    animation: all ease 1s;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
    transition: all ease 1s;
    animation: all ease 1s;
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/* БЛОК О НАС */

.block-withus{
    gap: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.a_button{
    font-size: 15px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #F0EFEF;
    border: none;
    border-radius: 5px;
}
.a_button:hover{
    color: #FF1E44;
    transform: scale(1.05);
}

.block-withus-text{
    max-width: 750px;
}

.block-withus-text p{
    font-size: 24px;
    text-align: left;
}



/* БЛОК О ПРЕИМУЩЕСТВАХ */

.block-advantages{
    display: flex;
    flex-direction: row;
}

.advantage{
    width: 200px;
}