input{
    max-width: 200px;
    border: none;
    outline: none;
    border-bottom: 2px rgba(234, 241, 227, 1) solid;
}

p{
    margin: 0;
}

/* СТРАНИЦА ГЛАВНАЯ */

.selected{
    color: #DD914B;
    font-weight:500;
}

.none{
    background-color: transparent;
    color: black;
}
.none:hover{
    color: black;
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.91);
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.8s ease 0s;
}

.user{

    /* max-width: 1200px; */
    display: flex;
    flex-direction: row;
    gap:60px;
}

.user:nth-child(2) {
    width: 950px;
}

.user-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.user-links li{
    padding: 10px;
    text-align: left;
    /* border-radius: 5px; */
}

.user-links li:hover{
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.51);
    border-radius: 12px;
    transform: scale(1.05);
    transition: all 0.8s ease 0s;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_main-header{
    display: flex;
    flex-direction: row;
    background-color: rgba(234, 241, 227, 0.31);
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.51);
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
}

.user_main_balance{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.user_main-body{
    background-color: rgba(234, 241, 227, 0.31);
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.51);
    border-radius: 20px;
    padding: 20px;
}

.user_main-body button{
    width: 100%;
}

.user_main-body-container{
    text-align: left;
}

.user_main-body p{
    margin: 5px;
    max-width: 400px;
    font-size: 13px;
}

.user_main-body-block{
    padding: 5px 20px;
    gap:30px;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.user_help-questions{
    display: flex;
    flex-direction: column;
    background-color: rgba(234, 241, 227, 0.31);
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.51);
    padding: 20px;
    border-radius: 20px;
    gap:20px;
}

.user_help-questions li{
    text-align: left;
}


/* СТРАНИЦА ЛИЧНЫЕ ДАННЫЕ */

.user_personal-data, .user-info, .user_security{
    width: 600px;
}

.user_personal-data{
    flex-direction: column;
    display: flex;
    background-color: rgba(234, 241, 227, 0.31);
    border-radius: 30px;
    padding: 20px;
}

.user_personal-header{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.user_personal-body{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 20px;
}

.user_personal-btn{
    padding: 10px;
    border-radius: 10px;
}
.user_personal-btn i{
    margin-right: 10px;
}

.user_personal-footer{
    display: flex;
    flex-direction: row;
    gap:50px;
}

.user_personal-name{
    display: flex;
    flex-direction: column;
    gap:10px;
}

textarea{
    height: 28px;
    width: 200px;
    resize: none;
    outline: none;
    overflow: hidden;
    border: none;
    border-bottom: 2px rgba(234, 241, 227, 1) solid;
}

.user_personal_username{
    display: flex;
    flex-direction: row;
    gap:10px;
}


.user_personal_about-hidden{
    display: none;
}

.user_personal_about-visible{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hidden{
    display: none;
}

.user_personal_about-header{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.user_personal_about-header div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.user_personal_about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* СТРАНИЦА БЕЗОПАСНОСТЬ И ВХОД */

.user_security{
    background-color: rgba(234, 241, 227, 0.31);
    box-shadow: 0 0 6px rgba(217, 222, 211, 0.51);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_security-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user_security-about{
    display: flex;
    flex-direction: row;
    gap:50px;
}

.user_security-about div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.user_logout{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.user_bind-info:hover{
    color: #DD914B;
    text-decoration: none;
}

.delete-account{
    padding: 3px 7px;
}

/* Модальные окна добавления почты и телефона */

.modal-container__verify{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 400px;
    max-height: 900px;

    margin: 20px auto;
    padding: 45px 35px 31px 32px;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.modal-verify{
    font-size: 20px;

}

.modal-inputs__verify{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.modal-inputs{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.modal-inputs label{
    font-size: 12px;
}

.modal-inputs input{
    border-bottom: 1px rgba(0, 0, 0, 0.9) solid;
    outline: none;
}

.modal-submit__verify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;

    align-items: center;
}

.modal-submit__verify button{
    padding: 3px 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);

    background: rgba(31, 31, 31, 0.59);
    border-radius: 10px;
}